# ----------------------------
# Power BI temporary files
# ----------------------------
*.tmp
*.bak
*.temp

# AutoRecover files
*.pbix.autosave

# Lock files
*.laccdb
*.ldb

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/

# Python (if you use notebooks or scripts for ETL)
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Logs
*.log
